@import "tailwindcss";

body {
  width: 100dvw;
  background-color: var(--color-emerald-950);
  overflow-x: hidden;
  color: var(--color-amber-50);
}

#root {
  height: 100%;
  width: 100%;

}

main {
  padding: 0 100px 0 180px;
}

.line {
  transform: translate(150%, -50%);
}
/* 
.glass {
  z-index: 1;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  
  backdrop-filter: blur(4px);
  
  -webkit-backdrop-filter: blur(4px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
} */
