@import "tailwindcss";

body {
  width: 100dvw;
  background-color: var(--color-emerald-950);
  overflow-x: hidden;
  color: var(--color-amber-50);

}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


section {
  scroll-margin-top: 80px;
}

.line {
  transform: translate(150%, -50%);
}

.glass {
  background-color: rgba(0, 0, 0, 0.25);
}

.glow {
  -webkit-box-shadow: 0px 0px 32px 0px rgb(255, 255, 255);
  -moz-box-shadow: 0px 0px 32px 0px rgb(255, 255, 255);
  box-shadow: 0px 0px 32px 0px rgb(255, 255, 255);
}


/* 
.glass {
  z-index: 1;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  
  backdrop-filter: blur(4px);
  
  -webkit-backdrop-filter: blur(4px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
} */